header{
  background: #818181;
  padding: 10px 0;
}

.caixa{
  position: relative;
  margin: 0 auto;
  width: 1360px;
}

body{
background-color: black;

}

ul{
padding-right: 100px;

}

nav{
  position: absolute;
  right: 0px;
  top: 200px
}

nav li{
 display: inline;
 margin: 0 0 0 15px
}

nav a:hover {
color: Red;
text-decoration: underline;
}

nav a:active{
color: black;
}

nav a{
 text-transform: uppercase;
 font-weight: bold;
 font-size: 25px;
 text-decoration: none;
 color: #000000;
}

img{
width: 300px
}

.logo{
  width: 200px
}

.contato {
color: white;
font-size: 24px;
font-weight: bold;
padding-left: 75px;
padding-top: 4px;
}


.contatoo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: white;
  list-style: none;
  padding-left: 80px;
  padding-top: 4px;
}


.contatooo {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding-left: 80px;
  padding-top: 20px;
}
